@font-face {
    font-family: "OpenDyslexic";
    src: url("./assets/OpenDyslexic/OpenDyslexic-Regular.otf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4 {
    font-family: "OpenDyslexic", Arial, Helvetica, sans-serif;
}

a {
    color: #901517;
    font-weight: 600;
}
a:hover, a:focus-visible {
    color: #5A0D0F;
}

.backgroundPattern {
    background-color: #ffffff;
    opacity: 1;
    background-image:  url("./assets/grid\ background\ texture.png");
    background-size: 175px 175px;
    background-position: 0 0,40px 40px;
    margin-top: -20px;
    padding: 0;
    z-index: -2;
    width: 100%;
    height: 100%;
    position: absolute;
}

.bodyDiv {
    display: block;
    width: 85%;
    background-color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    padding: 30px;
    border-radius: 25px;    
    box-shadow: 0 3px 3px #888;
}
.headingNav {    
    height: 150px;
    display: flex;
    flex-direction: column;
}
.mainContent {
    height: 650px;
    font-size: 16px;
    overflow-y: scroll;
}
.mainContent p {
    margin-bottom: 20px;
}

.resourceASAPHelpTxt {
    color: #901517;
    font-weight: 600;
    font-style: italic;
    margin-bottom: 20px;
}

.wellBeingH3Section {
    list-style-type: none;

}


/* Nav Styling*/

.pageNav li {
    display: inline;
    padding: 0 10px;
}

.innerNav {
    margin: 20px auto;
}
.innerNav li {    
    list-style-type: none;
}

/* Emotion Selector Styling */ 

.emotionSelector {
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 30px auto 10px;
}

.initialEmotionButton {
    border: none;
    padding: 20px 40px;
    margin: 10px;
    text-align: center;
    background-color: #eeeeee;
    width: 350px;
    margin: 5px 5px;    
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.initialEmotionButton:hover,
.initialEmotionButton:focus-visible {
    background-color: #cccccc;
    cursor: pointer;
}

.emotionButton {
    border: none;
    padding: 20px 40px;
    margin: 10px;
    font-size: 36px;
    text-align: center;
    width: 250px;
    background-color: #eeeeee;
}

.emotionButton:hover,
.emotionButton:focus-visible {
    background-color: #cccccc;
    cursor: pointer;
}

.goBackBtn {
    border: none;
    padding: 10px 30px;
    margin: 10px 5px;
    font-size: 16px;
    text-align: center;
    background-color: #eeeeee;
    grid-column: span 2;
}

.goBackBtn:hover:not([disabled]) {
    background-color: #cccccc;
    cursor: pointer;
}

.finalEmotion {    
    width: 500px;
    padding: 20px;
    margin: auto;
    font-family: "OpenDyslexic", Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bold;
}

/* Resource Page Styling */

.resourceLinksContainer {
    text-align: left;
}

.resourceLinksContainer ul {
    list-style-type: none;
    margin-left: 30px;
}

.resourceLinksContainer ul li ul {
    margin-left: 30px;
    list-style-type: disc;
}



/* Footer styling */


footer {    
    position: fixed;
    bottom: 0px;
    width: 100%;
    box-shadow: 0 0 5px #888;
    background-color: white;  
    padding: 7px 20px 5px 0px;   
    display: flex;    
    justify-content: space-between;
    padding: 10px;
    font-weight: 600;     
    text-align: center;
    vertical-align: center;    
}

.leftFooter {    
    padding: 5px;
    color: #555;
}
.rightFooter {
    display: flex;
}

.rightFooter p {
    padding: 5px;
}